# Guided Project #11: 
## Mobile App for Lottery Addiction

Many people start playing the lottery for fun, but for some this activity turns into a habit which eventually escalates into addiction. Like other compulsive gamblers, lottery addicts soon begin spending from their savings and loans, they start to accumulate debts, and eventually engage in desperate behaviors like theft.

A medical institute that aims to prevent and treat gambling addictions wants to build a dedicated mobile app to help lottery addicts better estimate their chances of winning. The institute has a team of engineers that will build the app, but they need us to create the logical core of the app and calculate probabilities.

For the first version of the app, they want us to focus on the 6/49 lottery and build functions that enable users to answer questions like:

- What is the probability of winning the big prize with a single ticket?
- What is the probability of winning the big prize if we play 40 different tickets (or any other number)?
- What is the probability of having at least five (or four, or three, or two) winning numbers on a single ticket?

Throughout the project, we'll need to calculate repeatedly probabilities and combinations. As a consequence, we'll start by writing two functions that we'll use often:

- A function that calculates factorials; and
- A function that calculates combinations.

In [6]:
def factorial(n):
    "Calculates n! (n factorial)"
    f = 1
    for i in range(n,1,-1):
        f *= i
    return f

# quick check: 3! = 6
factorial(3)

6

In [10]:
def combinations(n, k):
    """Calculates Cnk:
        the number of combinations of k elements from the set of n"""
    return factorial(n)/factorial(n-k)/factorial(k)

# quick check: Cnk(5,3) = 120/6/2 = 10
combinations(5,3)

10.0

We discussed with the engineering team of the medical institute, and they told us we need to be aware of the following details when we write the function:

- Inside the app, the user inputs six different numbers from 1 to 49.
- Under the hood, the six numbers will come as a Python list, which will serve as the single input to our function.
- The engineering team wants the function to print the probability value in a friendly way — in a way that people without any probability training are able to understand.

Let's try to write this function!

In [33]:
def one_ticket_probability(list):
    """Calculates the probability of the combination provided 
        being the winning combination in 6/49 lottery"""
    number_of_possible_outcomes = combinations(49,6)
    probability = 1/number_of_possible_outcomes
    return "The probability of {} to win is {:.8f} %".format(list, probability*100)

In [35]:
p = one_ticket_probability([1,2,3,44,5,6])
p

'The probability of [1, 2, 3, 44, 5, 6] to win is 0.00000715 %'

We wrote a function that can tell users what is the probability of winning the big prize with a single ticket. For the first version of the app, however, users should also be able to compare their ticket against the historical lottery data in Canada and determine whether they would have ever won by now.

Next, we'll focus on exploring the historical data coming from the Canada 6/49 lottery. The data set can be downloaded from [Kaggle](https://www.kaggle.com/datascienceai/lottery-dataset).

In [36]:
import pandas as pd
df = pd.read_csv('649.csv')
df.head(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34

In [37]:
df.shape

(3665, 11)

In [38]:
df.tail(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

The engineering team wants us to write a function that prints:
- the number of times the combination selected occurred in the Canada data set; and
- the probability of winning the big prize in the next drawing with that combination.

In [50]:
def extract_numbers(row):
    "extracts 6 numbers from the row as a list"
    l = set()
    for i in range(1,7):
        l.add(row[f'NUMBER DRAWN {i}'])
    return l
        
# quick check
extract_numbers(df.iloc[3664])

{14, 24, 31, 35, 37, 48}

In [51]:
winning_numbers = df.apply(extract_numbers, axis=1)
winning_numbers[-3:]

3662     {32, 34, 6, 22, 24, 31}
3663     {2, 38, 15, 49, 21, 31}
3664    {35, 37, 14, 48, 24, 31}
dtype: object

In [52]:
type(winning_numbers)

pandas.core.series.Series

In [56]:
def check_historical_occurence(l, s):
    "Counts the number of occurances of list l in a Series s"
    occurances = set(l) == s
    print(f'{l} was a winning combination {sum(occurances)} times')
    return sum(occurances)

test_l = [35, 37, 14, 48, 24, 31]
check_historical_occurence(test_l, winning_numbers)

[35, 37, 14, 48, 24, 31] was a winning combination 1 times

1

Lottery addicts usually play more than one ticket on a single drawing, thinking that this might increase their chances of winning significantly. Our purpose is to help them better estimate their chances of winning — we're going to write a function that will allow the users to calculate the chances of winning for any number of different tickets.

We've talked with the engineering team and they gave us the following information:

- The user will input the number of different tickets they want to play (without inputting the specific combinations they intend to play).
- Our function will see an integer between 1 and 13,983,816 (the maximum number of different tickets).
- The function should print information about the probability of winning the big prize depending on the number of different tickets played.

Let's now start writing this function.

In [58]:
def multi_ticket_probability(n):
    """Calculates the probability of winning the big prize depending 
    on the number of different tickets played."""
    number_of_possible_outcomes = combinations(49,6)
    probability = n/number_of_possible_outcomes
    print('The probability of winning with {} tickets is {:.8f} %'.format(n, probability*100))

In [59]:
multi_ticket_probability(10)

The probability of winning with 10 tickets is 0.00007151 %

In [60]:
multi_ticket_probability(100)

The probability of winning with 100 tickets is 0.00071511 %

In [63]:
multi_ticket_probability(1000)

The probability of winning with 1000 tickets is 0.00715112 %

In [64]:
multi_ticket_probability(10000)

The probability of winning with 10000 tickets is 0.07151124 %

In [66]:
multi_ticket_probability(100000)

The probability of winning with 100000 tickets is 0.71511238 %

In [67]:
multi_ticket_probability(1000000)

The probability of winning with 1000000 tickets is 7.15112384 %

Next, we're going to write one more function to allow the users to calculate probabilities for two, three, four, or five winning numbers.

For extra context, in most 6/49 lotteries there are smaller prizes if a player's ticket match two, three, four, or five of the six numbers drawn. As a consequence, the users might be interested in knowing the probability of having two, three, four, or five winning numbers.

These are the engineering details we'll need to be aware of:

Inside the app, the user inputs:
- six different numbers from 1 to 49; and
- an integer between 2 and 5 that represents the number of winning numbers expected

Our function prints information about the probability of having the inputted number of winning numbers.

In [76]:
def probability_less_6(n):
    """Takes an integer from 2 to 5 and returns an information 
    about the chances of winning depending on the value of that integer"""
    if n not in range(2,6):
        print("Incorrect number")
        return
    
    number_of_successful_outcomes = combinations(6, n) * (combinations(49-n, 6-n) - 1)
    number_of_possible_outcomes = combinations(49,6)
    probability = number_of_successful_outcomes/number_of_possible_outcomes
    
    print('The probability of having {} winning numbers is {:.8f} %'.format(n,100*probability))
#     return(probability)

f
probability_less_6(5)

The probability of having 5 winning numbers is 0.00184499 %